@import "variables";

.container-monan {
    max-width: 700px;
}

.container-doanhso {
    max-width: 700px;
}

.select-all-options {
    width: 180px;
    margin: 0 10px;
}

.img-food {
    height: 222px;
}