<div class="mt-4">
    <h3>Add customer</h3>
    <form method="POST" action="/manage/customer/insert">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" >
        </div>
        {{!-- <div class="form-group">
            <label for="name">Mã món</label>
            <input type="text" class="form-control" id="id" name="id" value="{{result">
        </div> --}}
         <div class="form-group">
            <label for="description">Gender  :</label>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" checked="checked" id="customRadioInline1" name="gioitinh" value="F" class="custom-control-input form-control">
                <label class="custom-control-label" for="customRadioInline1">Male</label>
            </div>
                <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="gioitinh" value="M" class="custom-control-input form-control">
                <label class="custom-control-label" for="customRadioInline2">Female</label>
            </div>
        </div>
         <div class="form-group">
            <label for="sdt">Phone</label>
            <input type="text" class="form-control" id="sdt" name="sdt">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>